a{
    color: white;
    text-decoration: none;
}
button{
    color:white;
    font-size:25px;
    background-color: darkolivegreen;
    width:200px;
    height:100px;
}
.text{
    background-image: url("../images/timer.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 35px;
    color:black;
    padding: 0 0 0 10px;
    border: 0;
    margin-left: 100px;
    margin-top: 50px;
}

.index{
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    margin-top: 20px;
}

.slide{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 20px;
    padding-top: 40px;
}

.content{
    width: 750px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}

.content a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}

.content a:hover{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

.container{
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}

.graph1{
    width: 1000px;
    height: 750px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.letter{
    width: 600px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.block {
    float: left;
    font-size: 100pt;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.color{
    
    float: left;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.color1{
    float: left;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    width: 200px;
}

.button{
    width: 500px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}

.buttons{
    width: 600px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sam{
    width:200px;
    height:100px;
    font-size:30px;
    color:white;
    margin-right: 48px;
    margin-top: 0px;
}

.diff{
    width:200px;
    height:100px;
    color:white;
    font-size:30px;
    margin-left: 48px;
    margin-top: 10px;
    
}

.nxt{
    width:200px;
    height:100px;
    font-size:25px;
    margin-left: 20px;
    margin-top: 10px;
}

.next{
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
}

.rotate {
    
    -moz-transform: rotate(270deg);
    float: left;
    height: 20px;
    margin-left: -90px;
    margin-top: 280px;
    position: absolute;
    width: 220px;
    font-weight: bold;
}

.graph{
    width: 501px;
    height: 502px;
    float: left;
    margin-left: 30px;
}

.obs{
    width: 400px;
    height: auto;
    float: right;
    text-align: justify;
    margin-right: 10px;
    background-color: white;
}

.coor{
    height: auto;
    margin-left: -80px;
    margin-top: -10px;
    width: auto;
    font-weight: bold;
}

.myDiv{
    color: rgb(10, 55, 63);
    text-align: center;
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}