*{margin:0;padding:0;box-sizing:border-box;}
.carousel-inner img {
    width: 100%;
    height:85vh;
    object-fit: cover;
  }
  .abtimg
  {
      width:100%;
      height:250px!important;
      object-fit: cover!important;
  }
  .container
  {
      width:400px;
  }