{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity=
"sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
<style>


#myProgress {
    width: 90%;
    background-color: white;    
}
body{
  background-color: rgb(27,44,96);
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
    color: white;
}
.gallery {
    border: 3px solid #ccc;
    float: left;
    width: 100%;
}

.gallery:hover {
    border: 1px solid #777;
}

.desc {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
#content{
    height: 98%;
    background: rgb(47,124,158);
}
#left {
    float: left;
    width: 50%;
    background: white;
    
    height: 100%;
    overflow: scroll;

}
#right {
    float: left;
    width: 50%;
    background: white;
    
    height: 100%;
    overflow: scroll;
}
#content1{
    height: 98%;
    
}
#left1 {
    float: left;
    width: 19%;
    background: white;
    
    height: 100%;
}
#right1 {
    float: left;
    width: 65%;
    background-color: white;
    height: 100%;
}
.table { display:table; width: 18%; float:left}
.row   { display:table-row; }
.cell  { display:table-cell; border:1px solid black; padding:3px; }
.arrow {float:left;}
</style>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static "images/blockchain.png" %}" width="50" height="50" class="d-inline-block align-top" alt="">
    Collaborative Anomaly Detection using Blockchain
  </a>
</nav>
<div id="content1">
  <div id="left1">
      <img src = "{% static "images/security.jpg" %}" style="width:150%"> 
  </div>
  <div id="right1" style= "margin-left: 14%;" >
      <h3 style= "margin-top: 10px; padding-left: 30px">Blockchain Progress</h3>

      <div id="myProgress" style="padding-left: 30px">
        <div id="myBar">10%</div>
      </div>
      <button type="button" class="btn btn-outline-success" style="margin-top: 10px; margin-bottom:10px; margin-left: 30px;"onclick = move()>Check Progress</button>
      <br>
      
      <div id="matrix" style="display:none">

      
      <div class="table" id="table1">
      <div class="row">
        <div class="cell"> {{ blocks.0.0.0 }}</div>
        <div class="cell"> {{ blocks.0.0.1 }}</div>
        <div class="cell"> {{ blocks.0.0.2 }}</div>  
        <div class="cell"> {{ blocks.0.0.3 }}</div>    
  
      </div>
      <div class="row">
        <div class="cell"> {{ blocks.0.1.0 }}</div>
        <div class="cell"> {{ blocks.0.1.1 }}</div>
        <div class="cell"> {{ blocks.0.1.2 }}</div>
        <div class="cell"> {{ blocks.0.1.3 }}</div>   
   
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.0.2.0 }}</div>
        <div class="cell"> {{ blocks.0.2.1 }}</div>
        <div class="cell"> {{ blocks.0.2.2 }}</div> 
        <div class="cell"> {{ blocks.0.2.3 }}</div>    
   
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.0.3.0 }}</div>
        <div class="cell"> {{ blocks.0.3.1 }}</div>
        <div class="cell"> {{ blocks.0.3.2 }}</div>  
        <div class="cell"> {{ blocks.0.3.3 }}</div>    
  
      </div>  

      </div>
      <div class="arrow">-></div>
      <div class="table" id="table2">
      <div class="row">
        <div class="cell"> {{ blocks.1.0.0 }}</div>
        <div class="cell"> {{ blocks.1.0.1 }}</div>
        <div class="cell"> {{ blocks.1.0.2 }}</div> 
        <div class="cell"> {{ blocks.1.0.3 }}</div> 

      </div>
      <div class="row">
        <div class="cell"> {{ blocks.1.1.0 }}</div>
        <div class="cell"> {{ blocks.1.1.1 }}</div>
        <div class="cell"> {{ blocks.1.1.2 }}</div>   
        <div class="cell"> {{ blocks.1.1.3 }}</div>   

      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.1.2.0 }}</div>
        <div class="cell"> {{ blocks.1.2.1 }}</div>
        <div class="cell"> {{ blocks.1.2.2 }}</div>    
        <div class="cell"> {{ blocks.1.2.3 }}</div>    

      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.1.3.0 }}</div>
        <div class="cell"> {{ blocks.1.3.1 }}</div>
        <div class="cell"> {{ blocks.1.3.2 }}</div> 
        <div class="cell"> {{ blocks.1.3.3 }}</div>    
   
      </div>    
      </div>
      <div class="arrow">-></div>
      <div class="table" id="table3">
      <div class="row">
        <div class="cell"> {{ blocks.2.0.0 }}</div>
        <div class="cell"> {{ blocks.2.0.1 }}</div>
        <div class="cell"> {{ blocks.2.0.2 }}</div>    
        <div class="cell"> {{ blocks.2.0.3 }}</div>    

      
      </div>
      <div class="row">
        <div class="cell"> {{ blocks.2.1.0 }}</div>
        <div class="cell"> {{ blocks.2.1.1 }}</div>
        <div class="cell"> {{ blocks.2.1.2 }}</div>
        <div class="cell"> {{ blocks.2.1.3 }}</div>   
   
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.2.2.0 }}</div>
        <div class="cell"> {{ blocks.2.2.1 }}</div>
        <div class="cell"> {{ blocks.2.2.2 }}</div> 
        <div class="cell"> {{ blocks.2.2.3}}</div>    
   
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.2.3.0 }}</div>
        <div class="cell"> {{ blocks.2.3.1 }}</div>
        <div class="cell"> {{ blocks.2.3.2 }}</div>  
        <div class="cell"> {{ blocks.2.3.3 }}</div>    
  
      </div>    
      </div>
      <div class="arrow">-></div>
      <div class="table" id="table4">
      <div class="row">
        <div class="cell"> {{ blocks.3.0.0 }}</div>
        <div class="cell"> {{ blocks.3.0.1 }}</div>
        <div class="cell"> {{ blocks.3.0.2 }}</div>  
        <div class="cell"> {{ blocks.3.0.3 }}</div>    
  
      </div>
      <div class="row">
        <div class="cell"> {{ blocks.3.1.0 }}</div>
        <div class="cell"> {{ blocks.3.1.1 }}</div>
        <div class="cell"> {{ blocks.3.1.2 }}</div> 
        <div class="cell"> {{ blocks.3.1.3 }}</div>   
  
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.3.2.0 }}</div>
        <div class="cell"> {{ blocks.3.2.1 }}</div>
        <div class="cell"> {{ blocks.3.2.2 }}</div>  
        <div class="cell"> {{ blocks.3.2.3 }}</div>    
  
      </div>  
      <div class="row">
        <div class="cell"> {{ blocks.3.3.0 }}</div>
        <div class="cell"> {{ blocks.3.3.1 }}</div>
        <div class="cell"> {{ blocks.3.3.2 }}</div>  
        <div class="cell"> {{ blocks.3.3.3 }}</div>    
  
      </div>   
      </div> 
      </div>

<div class="gallery" style="margin-top: 1%; margin-bottom: 15px;" >
        <div id="content">
        <div id="left">
            Events
            <p> {{event_string}} </p>
        </div>
        <div id="right">
            Logs
            <p> Combined Model : {{ combined_model}} </p>    
            <p> {{ log_string}} </p>
            <p> {{ blocks }} </p>
        </div>
        </div>
      </div>

</div>



<!-- <div class="gallery" style="margin-top: 1%; margin-left: 25%; margin-bottom: 15px;" >
    <div class="desc">Event</div>
    <div style="height:300px; " ></div>
</div> -->

<!-- </div>
    <div class="desc">Log</div>
    <div style="height:300px; " ></div>
</div> -->
<script>

function loadMatrix(){

  document.getElementById("matrix").style.display = "block";

}

var i = 0;


function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width  + "%";
      }
    }
  }

  setTimeout(function loadMatrix(){
    document.getElementById("matrix").style.display = "block";

}, 1500);

}
</script>

</body>
</html>